@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
  height: auto;
  width: 100vw;
  margin: 0 auto;
  max-width: 1440px;
  background-color: #F7F0F0;
  color: #020A12;
}

[data-theme=dark] body {
  background-color: #020A12;
  color: #F7F0F0;
}

button,
input {
  font-family: inherit;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}

.icon {
  color: white;
  width: 1.8rem;
  height: 1.8rem;
}
.icon-container {
  border-radius: 50%;
  background-color: #fc4c01;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.credits {
  background-color: #fc4c01;
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20rem;
  margin: 2rem auto;
}
.credits p {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  color: white;
}
.credits img {
  width: 5rem;
}

.theme-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.theme-btn_icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #fc4c01;
  fill: #fc4c01;
}

.header {
  background-color: white;
  padding: 1rem 2rem;
  border: double 1px transparent;
  border-radius: 2rem;
  background-image: linear-gradient(white, white), linear-gradient(307deg, rgba(252, 76, 1, 0.5) 5%, #F7F0F0 10%, #F7F0F0 90%, rgba(252, 76, 1, 0.5) 95%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 75rem;
  margin: 3rem auto 0 auto;
  height: 8rem;
  padding: 1rem 2rem;
}
@media (min-width: 1024px) {
  .header {
    max-width: none;
  }
}
.header h1 {
  text-transform: uppercase;
  color: #fc4c01;
  font-size: 2rem;
  font-weight: 900;
}
.header-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 11rem;
}
@media (min-width: 767px) {
  .header-profile {
    max-width: 15rem;
  }
}
.header-profile_image {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1px solid #fc4c01;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.header-profile_image img {
  object-fit: cover;
}
.header-profile_logout {
  width: 2.5rem;
  height: 2.5rem;
  color: #fc4c01;
}

[data-theme=dark] .header {
  background-color: #041425;
  padding: 1rem 2rem;
  border: double 1px transparent;
  border-radius: 2rem;
  background-image: linear-gradient(#041425, #041425), linear-gradient(307deg, rgba(255, 255, 255, 0.2) 5%, #00253D 10%, #00253D 90%, rgba(255, 255, 255, 0.2) 95%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.stats-title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 0.5rem;
}

.dashboard {
  width: 100%;
  max-width: 75rem;
  margin: 2rem auto;
  min-height: 80vh;
}
@media (min-width: 767px) {
  .dashboard {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "summary summary" "last last" "trend trend" "activities activities" "year all";
    gap: 2rem;
  }
}
@media (min-width: 1024px) {
  .dashboard {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "summary summary" "last trend" "activities year" "activities all";
    max-width: none;
  }
}
@media (min-width: 1300px) {
  .dashboard {
    grid-template-columns: 1.5fr 1.5fr 1fr;
    grid-template-areas: "summary summary summary" "last activities year" "last activities year" "trend activities all";
  }
}
.dashboard-skeleton {
  animation: loading 1.5s infinite ease-in-out;
}
.dashboard-skeleton .dashboard-item {
  min-height: 200px;
}
.dashboard-error {
  background-color: white;
  padding: 1rem 2rem;
  border: double 1px transparent;
  border-radius: 2rem;
  background-image: linear-gradient(white, white), linear-gradient(307deg, rgba(252, 76, 1, 0.5) 5%, #F7F0F0 10%, #F7F0F0 90%, rgba(252, 76, 1, 0.5) 95%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  width: 90%;
  max-width: 75rem;
  margin: 0 auto;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard-error h2 {
  font-size: 3.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #fc4c01;
  text-align: center;
}
.dashboard-error button {
  background-color: #fc4c01;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 1rem;
  color: white;
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;
}
.dashboard-item {
  background-color: white;
  padding: 1rem 2rem;
  border: double 1px transparent;
  border-radius: 2rem;
  background-image: linear-gradient(white, white), linear-gradient(307deg, rgba(252, 76, 1, 0.5) 5%, #F7F0F0 10%, #F7F0F0 90%, rgba(252, 76, 1, 0.5) 95%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  margin: 2rem auto;
}
@media (min-width: 767px) {
  .dashboard-item {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}
.dashboard-item_title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 0.5rem;
  margin: 1rem 0 1.5rem 1rem;
}
@media (min-width: 1024px) {
  .dashboard-item_title {
    margin: 1rem 0 2rem 0;
  }
}
.dashboard-item:nth-child(1) {
  grid-area: summary;
}
.dashboard-item:nth-child(2) {
  grid-area: last;
}
.dashboard-item:nth-child(3) {
  grid-area: trend;
}
.dashboard-item:nth-child(4) {
  grid-area: activities;
  justify-content: flex-start;
}
.dashboard-item:nth-child(5) {
  grid-area: year;
}
.dashboard-item:nth-child(6) {
  grid-area: all;
}

[data-theme=dark] .dashboard-item {
  background-color: #041425;
  padding: 1rem 2rem;
  border: double 1px transparent;
  border-radius: 2rem;
  background-image: linear-gradient(#041425, #041425), linear-gradient(307deg, rgba(255, 255, 255, 0.2) 5%, #00253D 10%, #00253D 90%, rgba(255, 255, 255, 0.2) 95%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

[data-theme=dark] .dashboard-error {
  background-color: #041425;
  padding: 1rem 2rem;
  border: double 1px transparent;
  border-radius: 2rem;
  background-image: linear-gradient(#041425, #041425), linear-gradient(307deg, rgba(255, 255, 255, 0.2) 5%, #00253D 10%, #00253D 90%, rgba(255, 255, 255, 0.2) 95%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.signin {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: intro 1s ease-in-out forwards;
}
.signin-container {
  width: 85%;
  max-width: 75rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 767px) {
  .signin-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .signin-container {
    max-width: 100rem;
  }
}
.signin-content {
  margin: 2rem 0;
  width: 100%;
}
@media (min-width: 767px) {
  .signin-content {
    width: 47%;
    height: 100%;
    border-left: 2px solid #fc4c01;
    padding-left: 6rem;
  }
}
.signin-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.signin-title h1 {
  font-size: 3rem;
}
@media (min-width: 1024px) {
  .signin-title h1 {
    font-size: 4rem;
  }
}
.signin-text p {
  font-size: 3rem;
  line-height: 3.2rem;
  color: #fc4c01;
  margin-bottom: 2rem;
}
@media (min-width: 1024px) {
  .signin-text p {
    font-size: 4rem;
    line-height: 4rem;
  }
}
.signin-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  border: 1px solid #fc4c01;
  overflow: hidden;
}
@media (min-width: 767px) {
  .signin-image {
    width: 47%;
  }
}
.signin-image img {
  width: 100%;
  height: 100%;
}
.signin-connect {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
}
.signin-demo {
  margin-top: 5rem;
  width: 85%;
  max-width: 75rem;
}
.signin-demo p {
  font-size: 2rem;
  font-weight: 900;
  color: #fc4c01;
  text-transform: uppercase;
  text-align: center;
}
.signin-demo_link {
  color: #fc4c01;
}

.signin-btn {
  background-color: #fc4c01;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 1rem;
  transition: transform 200ms ease-in-out;
}
.signin-btn span {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 0.5rem;
  padding-top: 0.1rem;
  font-size: 2rem;
}
.signin-btn img {
  width: 1.3rem;
}
.signin-btn:hover {
  transform: scale(1.1);
}
.signin-btn_link {
  font-size: 2rem;
  text-decoration: underline;
  color: #fc4c01;
  font-weight: 900;
  text-transform: uppercase;
}

.signout-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.stats {
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.stats-content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem;
  width: 100%;
}
.stats-content_item {
  font-weight: 900;
  font-size: 1.6rem;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
}
.stats-content_item_icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.5rem;
  color: #fc4c01;
}

.chart {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.chart-loader {
  width: 420px;
  height: 100px;
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.chart-tooltip {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}
.chart-tooltip p {
  font-size: 1.5rem;
  font-weight: 900;
  color: #fc4c01;
}

.summary {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, auto));
  gap: 2rem;
  width: 98%;
}
@media (min-width: 767px) {
  .summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.summary-select {
  position: relative;
  min-width: 15rem;
}
.summary-select_selected {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.summary-select_dropDown {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: rotate(0);
  transition: transform 200ms ease-in-out;
}
.summary-select_dropDown_open {
  transform: rotate(180deg);
}
.summary-select_btn {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0.2rem 1rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
}
.summary-select_btn span {
  color: #fc4c01;
}
.summary-select_btn:hover {
  background-color: rgba(2, 10, 18, 0.1);
}
.summary-select_options {
  position: absolute;
  min-width: 15rem;
  left: -0.1rem;
  height: 0;
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: max-height 300ms ease-in-out;
}
.summary-select_options_open {
  height: fit-content;
  max-height: 6.3rem;
  border: double 1px transparent;
  border-radius: 2rem;
  background-image: linear-gradient(white, white), linear-gradient(307deg, rgba(252, 76, 1, 0.5) 5%, #F7F0F0 10%, #F7F0F0 90%, rgba(252, 76, 1, 0.5) 95%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 0;
}
.summary-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
@media (min-width: 1024px) {
  .summary-item {
    border-right: 1px solid;
  }
}
.summary-item:last-child {
  border: none;
}
.summary-item h3 {
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 0.5rem;
  color: #fc4c01;
}
.summary-item p {
  font-size: 2rem;
  font-weight: 900;
  white-space: nowrap;
}

[data-theme=dark] .summary-select_options_open {
  border: double 1px transparent;
  border-radius: 2rem;
  background-image: linear-gradient(#041425, #041425), linear-gradient(307deg, rgba(255, 255, 255, 0.2) 5%, #00253D 10%, #00253D 90%, rgba(255, 255, 255, 0.2) 95%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 0;
}

[data-theme=dark] .summary-select_btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.activity {
  height: 40rem;
  overflow-y: auto;
  -webkit-mask-image: linear-gradient(to bottom, white 80%, transparent 100%);
  mask-image: linear-gradient(to bottom, white 80%, transparent 100%);
  width: 100%;
}
.activity-last {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  mask-image: none;
  -webkit-mask-image: none;
  margin-bottom: 0;
}
@media (min-width: 767px) {
  .activity-last {
    margin-bottom: 2rem;
  }
}
@media (min-width: 1300px) {
  .activity-last {
    margin-bottom: 0;
  }
}
.activity-last .activity-card {
  margin: 0 auto;
}
.activity-loading {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.activity-loading_spinner {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
}
.activity-card {
  width: 90%;
  height: 280px;
  max-width: 350px;
  margin: 0 auto 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 767px) {
  .activity-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: none;
    height: 169px;
  }
}
@media (min-width: 1024px) {
  .activity-card {
    width: 100%;
  }
}
.activity-card_icon {
  width: 1.6rem;
  height: 1.6rem;
  color: #fc4c01;
}
.activity-card .heart {
  fill: red;
}
.activity-card_map {
  border-radius: 1rem;
  min-width: 15rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}
@media (min-width: 767px) {
  .activity-card_map {
    width: 40%;
  }
}
.activity-card_map_placeholder {
  width: 100%;
  height: 100%;
  background-color: #fc4c01;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.activity-card_map_placeholder .placeholder-icon {
  width: 5rem;
  height: 5rem;
  color: white;
}
.activity-card_body {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}
@media (min-width: 767px) {
  .activity-card_body {
    width: 55%;
  }
}
.activity-card_body_title {
  margin-bottom: 1rem;
}
.activity-card_body_title h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  width: fit-content;
  line-height: 2rem;
}
.activity-card_body_title p {
  font-size: 1.4rem;
}
.activity-card_body_content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  gap: 0.5rem;
}
.activity-card_body_content_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.activity-card_body_content_item h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.activity-card_body_content_item p {
  font-size: 1.3rem;
  font-weight: 900;
  white-space: nowrap;
}/*# sourceMappingURL=main.css.map */