


html {
    font-size: 10px;
}

body {
    overflow-x: hidden;
    height: auto;
    width: 100vw;
    margin: 0 auto;
    max-width: 1440px;
    background-color: $secondary;
    color: $dark;
}

[data-theme='dark'] body {
    background-color: $dark;
    color: $secondary;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}

.icon {

    color: white;
    width: 1.8rem;
    height: 1.8rem;

    &-container {
        border-radius: 50%;
        background-color: $primary;
        width: 3rem;
        height: 3rem;
        @include flexbox(row, center, center);
        margin-right: 1rem;
    }
}

.credits {
    background-color: $primary;
    padding: 1rem 2rem;
    border-radius: 1rem;
    @include flexbox(row, center, center);
    width: 20rem;
    margin: 2rem auto;

    p {
        font-size: 1.2rem;
        margin-right: 0.5rem;
        color: white;
    }

    img {
        width: 5rem; 
    }
}

.theme-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &_icon {
        width: 2.5rem;
        height: 2.5rem;
        color: $primary;
        fill: $primary;
    }
}