.activity {

    height: 40rem;
    overflow-y: auto;
    -webkit-mask-image: linear-gradient(to bottom, white 80%,transparent 100%);
    mask-image: linear-gradient(to bottom,white 80%, transparent 100%);
    width: 100%; 

        &-last {
            width: 100%;
            height: 80%;
            @include flexbox(row, center, center);
            mask-image: none;
            -webkit-mask-image: none;
            margin-bottom: 2rem;

            @include responsive(large) {
                margin-bottom: 0;
            }

            .activity-card {
                margin: 0 auto;
            }

        }



        &-loading {
            width: 100%;
            height: 3rem;
            @include flexbox(row, center, center);

            &_spinner {
                text-transform: uppercase;
                font-weight: 900;
                font-size: 2rem;
            }
        }


    &-card {
        width: 90%;
        max-width: 350px;
        height: fit-content;
        margin: 0 auto 2rem auto;
        @include flexbox(column, flex-start, center);

        @include responsive(small) {
            @include flexbox(row, space-between, flex-start);
            max-width: none;
        }

        @include responsive(medium) {
            width: 100%;
        }


        &_icon {
            width: 1.6rem;
            height: 1.6rem;
            color: $primary;
        }

        .heart {
            fill: red;
        }

        &_map {
            border-radius: 1rem;
            min-width: 15rem;
            height: 150px;
            width: 100%;
            overflow: hidden;
            z-index: 0;

            @include responsive(small) {
                width: 40%;
            }

            &_placeholder {
                width: 100%;
                height: 100%;
                background-color: $primary;
                @include flexbox(row, center, center);

                .placeholder-icon {
                    width: 5rem;
                    height: 5rem;
                    color: white;
                }
            }
        }
    
        &_body {

            margin-top: 1rem;
            width: 100%;
            height: 100%;

            @include responsive(small) {
                width: 55%;
            }
            
            &_title {
                margin-bottom: 1rem;
                
                h3 {
                    font-size: 2rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    width: fit-content;
                    line-height: 2rem;
                }
    
                p {
                    font-size: 1.4rem;
                }
            }
    
            &_content {
                display: grid;
                grid-template-columns: repeat(auto-fill,minmax(6rem, 1fr));
                gap: 0.5rem;
    
                &_item {
                    @include flexbox(column, flex-start, flex-start);
    
                    h4 {
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 1.3rem;
                        @include flexbox(row, center, center);
                    }
    
                    p {
                        font-size: 1.3rem;
                        font-weight: 900;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

}