.signin-btn {
    background-color: $primary;
    border: none;
    border-radius: 1rem;
    padding: 1rem 2rem;
    @include flexbox(row, center,center);
    cursor: pointer;
    margin-top: 1rem;
    transition: transform 200ms ease-in-out;

    span {
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 0.5rem;
        padding-top: 0.1rem;
        font-size: 2rem;
    }

    img {
        width: 1.3rem;
    }
    
    &:hover {
        transform: scale(1.1);
    }

    &_link {
        font-size: 2rem;
        text-decoration: underline;
        color: $primary;
        font-weight: 900;
        text-transform: uppercase;
    }
}

.signout-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}