.chart {

    &-container {
        @include box;
        @include flexbox(column, center, flex-start);
    }

    &-title {
        @include componentTitlte;
    }
    &-tooltip {
        background-color: transparent;

        &_monthly {
            background-color: white;
            padding: 1rem;
            border-radius: 1rem;

            p {
                color: $primary;
            }
        }

        &_label {
            font-family: 'Poppins', sans-serif;
            font-size: 1.5rem;
            font-weight: 900;
            color: black;
        }
    }
}