.stats{


    &-content {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 2rem;

        &_item {
                @include flexbox(row, flex-start, center);
                font-weight: 900;
                font-size: 1.6rem;
                text-transform: uppercase;
                white-space: nowrap;
                width: 100%;

                &_icon {
                    width: 1.8rem;
                    height: 1.8rem;
                    margin-right: 0.5rem;
                    color: $primary;
                }
        }
       
    }
    
}