.summary {

        @include flexbox(row, space-between, center);
        width: 98%;
        padding: 1rem 0;

        &-item {
            @include flexbox(column, center, center);
            flex: 1;
            border-right: 1px solid;

            &:last-child {
                border: none;
            }


            h3 {
                text-transform: uppercase;
                font-size: 1.3rem;
                line-height: 0.5rem;
                color: $primary;
            }

            p {
                font-size: 2rem;
                font-weight: 900;
            }
        }
}