.summary {

    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(8rem, auto));    
    gap: 2rem;
    width: 98%;
    height: 80%;


    @include responsive(small) {
        @include flexbox(row, space-between, center);
    }
    

        &-item {
            @include flexbox(column, center, center);
            flex: 1;

            @include responsive(medium) {
                border-right: 1px solid;
            }

            &:last-child {
                border: none;
            }


            h3 {
                text-transform: uppercase;
                font-size: 1.3rem;
                line-height: 0.5rem;
                color: $primary;
            }

            p {
                font-size: 2rem;
                font-weight: 900;
                white-space: nowrap;
            }
        }
}