.dashboard {
    width: 100%;
    max-width: 75rem;
    margin: 2rem auto;
    min-height: 80vh;


    @include responsive(small) {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
        "summary summary"
        "last last"
        "trend trend"
        "activities activities"
        "year all";
        gap: 2rem;
    }

    @include responsive(medium) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "summary summary"
        "last trend"
        "activities year"
        "activities all";
        max-width: none;
    }
    
    @include responsive(large) {
        grid-template-columns: 1.5fr 1.5fr 1fr;
        grid-template-areas: 
        "summary summary summary"
        "last activities year"
        "last activities year"
        "trend activities all";
    }

    &-skeleton {
        animation: loading 1.5s infinite ease-in-out;        

        .dashboard-item {
            min-height: 200px;
        }
    }

    &-error {
        @include box;
        width: 90%;
        max-width: 75rem;
        margin: 0 auto;
        height: 30rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        @include flexbox(column, center, center);

        h2 {
            font-size: 3.5rem;
            font-weight: 900;
            text-transform: uppercase;
            color: $primary;
            text-align: center;
        }

        button {
            background-color: $primary;
            border: none;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            @include flexbox(row, center,center);
            cursor: pointer;
            margin-top: 1rem;
            color: white;
            font-size: 1.8rem;
            font-weight: 900;
            text-transform: uppercase;
        }

    }

    &-item {
        @include box;
        @include flexbox(column, flex-start, center);
        width: 95%;
        margin: 2rem auto;


        @include responsive(small) {
            width: 100%;
            margin: 0 auto;
            overflow: hidden;
        }
        

        &_title {
            @include componentTitle;
            margin: 1rem 0 1.5rem 1rem;

            @include responsive(medium) {
                margin: 1rem 0 2rem 0;
            }
        }

            &:nth-child(1) {
                grid-area: summary;
            }
    
            &:nth-child(2) {
                grid-area: last
            }
    
            &:nth-child(3) {
                grid-area: trend
            }
    
            &:nth-child(4) {
                grid-area: activities;
                justify-content: flex-start;
            }
    
            &:nth-child(5) {
                grid-area: year;
            }
    
            &:nth-child(6) {
                grid-area: all;
            }

    }
}