.header {

    @include box(white);
    @include LightBorderGradient;
    @include flexbox(row, space-between, center);
    width: 95%;
    max-width: 75rem;
    margin: 3rem auto 0 auto;
    height: 8rem;
    padding: 1rem 2rem;

    @include responsive(medium) {
        max-width: none;
    }
  
    h1 {
        text-transform: uppercase;
        color: $primary;
        font-size: 2rem;
        font-weight: 900;
    }

    &-profile {
        @include flexbox(row, space-between, center);
        width: 95%;
        max-width: 11rem;

        @include responsive(small) {
            max-width: 15rem;
        }

        &_image {
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            border: 1px solid $primary;
            @include flexbox(row, center, center);
            overflow: hidden;

            img {
                object-fit: cover;
            }
        }

        &_logout {
            width: 2.5rem;
            height: 2.5rem;
            color: $primary;
        }
    }
}

[data-theme='dark'] .header {
    @include box(#041425);
    @include darkBorderGradient;
}